<h1>电子商务网站</h1>
<p><%= link_to "用户管理", users_path %></p>
<p><%= link_to "用户登录", '/users/showLogin' %></p>
<p><%= link_to "商品管理", wares_path %></p>
<p><%= link_to "订单管理", orders_path %></p>
<!--<p><%#= link_to "上传图片", {:controller=>'wares' , :action=>'uploadImg' } %></p>-->
