<h1>上传</h1>
<div>
<%=form_tag "/wares/upload",:multipart => true do %>
  <%= file_field_tag(:img,:size=>"40") %>
      <%= submit_tag("上传文件") %>
  <% end %>
<br/><br/>
<p><hr></p>
<p><h3><%=notice%></h3></p>
</div>